<div class="container admin">
  <form action="<%= parties_url %>" method="POST" class="form-horizontal">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <input class="form-control" placeholder="Party Name" type="text" name="party[name]" id="primary"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-3">
        <input class="form-control" type="number" name="party[max_guests]" id="max_guests" value="" placeholder="Number of guests" />
      </div>
      <input type="submit" class="col-sm-3 btn btn-primary" value="Create New Party" />
    </div>

  </form>
</div>

