    <canvas id="triangles"></canvas> 

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-menu-hamburger" style="font-size:30px; color:#000;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#home" class="smoothScroll">Home</a></li>
            <li> <a href="#411" class="smoothScroll"> 411</a></li>
            <li> <a href="#savethedate" class="smoothScroll"> Save the Date</a></li>
            <li> <a href="#outoftowners" class="smoothScroll"> Out of Towners</a></li>
            <li> <a href="#registry" class="smoothScroll"> Registry</a></li>
            <li> <a href="#rsvp" class="smoothScroll"> RSVP</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- ==== HEADERWRAP ==== -->
      <div class="headerwrap" id="home" name="home">
      <header class="clearfix">

        <div class="row">
          <div class="col-lg-4 col-lg-offset-4">
            <div id="logo-circle">
              <h1>Steph</h1>
              <h2>&</h2>
              <h1>David</h1>
              <p>9.12.15</p>
              <img src="<%= image_url("small_gold_triangles.svg") %>" alt="" />
            </div>
          </div><!-- col -->
        </div>

        <img src="<%= image_url("ride or die boat.svg") %>" alt="" />
      
        </header>     
      </div><!-- /headerwrap -->
    
    <div class="container section-container" id="411" name="411">
    <br>
      <div class="row">
        <h1 class="centered">411</h1>
        <hr>
      </div><!-- /row -->
      <div class="container">
        <div class="row content-row"> 
          <div class="col-sm-8 col-sm-offset-2">
            <p>9.12.15, Saturday</p>
            <p>Reception: 12-5pm, following private ceremony</p>
            <p><a href="https://www.google.com/maps/dir//Stow+Lake,+San+Francisco,+CA+94118/@37.7689942,-122.4745568,17z/data=!4m13!1m4!3m3!1s0x8085876eab723929:0xc94cfc9e9521a487!2sStow+Lake,+San+Francisco,+CA+94118!3b1!4m7!1m0!1m5!1m1!1s0x8085876eab723929:0xc94cfc9e9521a487!2m2!1d-122.4730835!2d37.7688327">Stow Lake @ Golden Gate Park</a></p>
            <p>Dress Code: Casual + Comfortable. Reception will be hosted indoor and outdoor, so be comfy! While it will be San Francisco "summer", bring layers for the unpredictable weather!</p>
          </div>
        </div><!-- /row -->
      </div><!-- container -->
    </div><!-- container -->
      
    <div class="container section-container" id="savethedate" name="savethedate">
    <br>
      <div class="row container-row">
        <h1 class="centered">Save the Date</h1>
        <hr>
      </div><!-- /row -->
      <div class="container">
        <div class="row content-row"> 
          <div class="col-sm-8 col-sm-offset-2">
            <h2>How to fold an origami boat:</h2>
            <div class="col-sm-6">
              <div class="row">
                <h3>Variation one</h3>
                <div class="col-sm-6 col-sm-offset-3">
                  <img src="<%= image_url("origami boat 1.svg") %>" alt="" />
                  <p><a href="#">Video</a></p>
                  <p><a href="#">Print</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h3>Variation two</h3>
                <div class="col-sm-6 col-sm-offset-3">
                  <img src="<%= image_url("origami boat 2.svg") %>" alt="" />
                  <p><a href="#">Video</a></p>
                  <p><a href="#">Print</a></p>
                </div>
            </div>
          </div>
        </div><!-- /row -->
      </div><!-- container -->
    </div><!-- container -->
      
    <div class="container section-container" id="outoftowners" name="outoftowners">
    <br>
      <div class="row container-row">
        <h1 class="centered">Out of Towners</h1>
        <hr>
      </div><!-- /row -->
      <div class="container">
        <div class="row content-row"> 
          <div class="col-sm-6 col-sm-offset-3">
            <p>Thank you in advance for travelling all the way to Cali to celebrate the day with us!</p>
            <p>Lodging near the venue is slim, but <a href="http://www.airbnb.com/">Airbnb</a> offers many options vs. the hotel strip downtown! If you need some recommendations, please let us know!</p>
            <p>Below are some of our favorite places to visit, eat and drink during your stay:</p>
          </div>
        </div><!-- /row -->
      </div><!-- container -->
    </div><!-- container -->

    <div class="container section-container" id="registry" name="registry">
    <br>
      <div class="row container-row">
        <h1 class="centered">Registry</h1>
        <hr>
      </div><!-- /row -->
      <div class="container">
        <div class="row content-row"> 
          <div class="col-sm-8 col-sm-offset-2">
            <p>We don't need you to bring us gifts; your presence at the wedding is enough! If you really want to get us something, a contribution to our honeymoon fund would be awesome.</p> 
            <p>Here's how you get can get your gift to us:</p>
          </div>
          <ol class="col-sm-6 col-sm-offset-3">
            <li>Hand deliver a check or cash to us at the wedding</li>
            <li>Free transfer via <a href="http://www.paypal.com">Paypal</a>, <a href="https://venmo.com/">Venmo</a>, or whatever other electronic payment method you prefer: farokuo@gmail.com</li>
          </ol>
        </div><!-- /row -->
      </div><!-- container -->
    </div><!-- container -->


    <% content_for :script do %>
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $('a[href^="#"]').on('click',function (e) {
              e.preventDefault();

              var target = this.hash;
              var $target = $(target);

              $('html, body').stop().animate({
                  'scrollTop': $target.offset().top
              }, 900, 'swing', function () {
                  window.location.hash = target;
              });
          });
        }); 
      </script>
   <% end %>
