    <canvas id="triangles"></canvas>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-menu-hamburger" style="font-size:30px; color:#000;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a target="_blank" href="#home" class="smoothScroll">Home</a></li>
            <li> <a target="_blank" href="#411" class="smoothScroll">411</a></li>
            <li> <a target="_blank" href="#savethedate" class="smoothScroll">Save the Date</a></li>
            <li> <a target="_blank" href="#outoftowners" class="smoothScroll">Out of Towners</a></li>
            <li> <a target="_blank" href="#registry" class="smoothScroll">Registry</a></li>
            <li> <a target="_blank" href="http://www.ride-or-die.com/rsvp" class="smoothScroll">RSVP</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- ==== HEADERWRAP ==== -->
      <div class="headerwrap section-container" id="home" name="home">
      <header class="clearfix">

        <div class="row">
            <div id="logo-circle">
              <h1>Steph</h1>
              <h2>&</h2>
              <h1>David</h1>
              <p>9.12.15</p>
              <img src="<%= image_url("small_gold_triangles.svg") %>" alt="" />
            </div>
        </div>

        <img src="<%= image_url("ride or die boat.svg") %>" alt="" />

        </header>
      </div><!-- /headerwrap -->

    <div class="container section-container large-section" id="411" name="411">
    <br>
        <div class="row content-row">
          <div class="col-sm-8 col-sm-offset-2 content">
            <h1 class="centered">411</h1>
            <hr>
            <p>9.12.15, Saturday</p>
            <p>Reception: 12-5pm, following private ceremony</p>
            <p><a target="_blank" href="http://www.google.com/maps/place/Stow+Lake+Boathouse/@37.770785,-122.477107,16z/data=!4m2!3m1!1s0x0:0x9729168e2308c114">Stow Lake Boathouse @ Golden Gate Park</a></p>
            <p>Dress Code: Casual + Comfortable. Reception will be hosted indoor and outdoor, so be comfy! While it will be San Francisco "summer", bring layers for the unpredictable weather!</p>
            <p>
              A light lunch and snacks will be provided, prepared with love, by us.
            </p>
            <p>
              There is ample street parking surrounding Stow Lake on Stow Lake Dr and Stow Lake Dr E, both accessible from Martin Luther King Jr. Dr. and John F Kennedy Dr. There is limited parking in a lot behind the boathouse.
            </p>
          </div>
        </div><!-- /row -->
    </div><!-- container -->

    <div class="container section-container large-section" id="savethedate" name="savethedate">
    <br>
        <div class="row content-row">
          <div class="col-sm-8 col-sm-offset-2 content">
            <h1 class="centered">Save the Date</h1>
            <hr>
            <h2>How to fold an origami boat:</h2>
              <p>
                Print the template below and follow the video instructions for a reminder of our big day! Place it on your desk, on your fridge, or wherever you want!
              </p>
              <p>
                Please print in color, two-sided for best results.
              </p>
                <img src="<%= image_url("origami boat 1.svg") %>" class="origami-boat" />
                  <p><a target="_blank" href="#">Download and print template</a></p>
                  <p><a target="_blank" href="#">Watch instructional video</a></p>
          </div>
        </div><!-- /row -->
    </div><!-- container -->

    <div class="container section-container large-section" id="outoftowners" name="outoftowners">
    <br>
      <div class="container">
        <div class="row content-row">
          <div class="col-sm-6 col-sm-offset-3 content">
            <h1 class="centered">Out of Towners</h1>
            <hr>
            <p>Thank you in advance for travelling all the way to Cali to celebrate the day with us!</p>
            <p>Lodging near the venue is slim, but <a target="_blank" href="http://www.airbnb.com/">Airbnb</a> offers many options vs. the hotel strip downtown! If you need some recommendations, please let us know!</p>
            <p>Below are some of our favorite places to visit, eat and drink during your stay:</p>
                      </div>

        </div><!-- /row -->
        <div class="row content-row">
          <div class="col-sm-6 content">
            <ul>
              <li><a target="_blank" href="http://fourbarrelcoffee.com">Four Barrel Coffee</a></li>
              <li><a target="_blank" href="http://www.tartinebakery.com">Tartine Bakery</a></li>
              <li><a target="_blank" href="http://www.locandasf.com">Locanda for cocktails</a></li>
              <li><a target="_blank" href="http://pizzeriadelfina.com">Pizzeria Delfina, Mission Location</a></li>
              <li><a target="_blank" href="http://www.yelp.com/biz/king-of-noodles-san-francisco-3">King of Noodles</a></li>
              <li><a target="_blank" href="http://kevinnoodlehouse.com/locations.html">Kevin's Noodle House, Location #2</a></li>
            </ul>
          </div>
          <div class="col-sm-6 content">
            <ul>
              <li><a target="_blank" href="http://www.yelp.com/biz/wonderful-dessert-and-cafe-san-francisco-2">Wonderful Desserts & Cafe</a></li>
              <li><a target="_blank" href="http://mitchellsicecream.com/">Mitchell's Ice Cream</a></li>
              <li><a target="_blank" href="http://biergartensf.com">Biergarten for a Radler</a></li>
              <li><a target="_blank" href="http://www.alembicbar.com">The Alembic, where David works :)</a></li>
              <li><a target="_blank" href="http://offthegridsf.com">Off the Grid, where Steph works :), Thursday Twilight @ The Presidio or Sunday Picnic @ The Presidio recommended</a></li>
            </ul>
          </div>
        </div>
      </div><!-- container -->
    </div><!-- container -->

    <div class="container section-container" id="registry" name="registry">
    <br>
      <div class="container">
        <div class="row content-row">
          <div class="col-sm-8 col-sm-offset-2 content">
            <h1 class="centered">Registry</h1>
            <hr>
            <p>We don't need you to bring us gifts; your presence at the wedding is enough! If you really want to get us something, a contribution to our honeymoon fund would be awesome.</p>
            <p>Here's how you get can get your gift to us:</p>
            <ol class="col-sm-8 col-sm-offset-2">
              <li>Hand deliver a check or cash to us at the wedding</li>
              <li>Free transfer via <a target="_blank" href="http://www.paypal.com">Paypal</a>, <a target="_blank" href="https://venmo.com/">Venmo</a>, or whatever other electronic payment method you prefer: farokuo@gmail.com</li>
            </ol>
          </div>
        </div><!-- /row -->
      </div><!-- container -->
    </div><!-- container -->


    <% content_for :script do %>
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $('a[href^="#"]').on('click',function (e) {
              e.preventDefault();

              var target = this.hash;
              var $target = $(target);

              $('html, body').stop().animate({
                  'scrollTop': $target.offset().top
              }, 900, 'swing', function () {
                  window.location.hash = target;
              });
          });
        });

      window.addEventListener('load', function(event) {
        initCanvas();
      });
      </script>
   <% end %>
