<div class="container admin">
  <h1>Log in!</h1>

  <form action="/session" method="POST" class="col-sm-6 form-horizontal">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control">
    </div>

    <div class="form-group">
      <input type="submit" value="Log in!" class="btn btn-default">
    </div>
  </form>
</div>
