<canvas id="triangles"></canvas>
    <audio controls autoplay loop>
    <source 
          src="<%= audio_path("Shook Ones Instrumental.mp3") %>" 
          type="audio/mp3"
          >
    </audio>


<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-menu-hamburger" style="font-size:30px; color:#000;"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://www.ride-or-die.com#home" class="smoothScroll">Home</a></li>
        <li> <a href="http://www.ride-or-die.com#411" class="smoothScroll">411</a></li>
        <li> <a href="http://www.ride-or-die.com#savethedate" class="smoothScroll">Save the Date</a></li>
        <li> <a href="http://www.ride-or-die.com#outoftowners" class="smoothScroll">Out of Towners</a></li>
        <li> <a href="http://www.ride-or-die.com#registry" class="smoothScroll">Registry</a></li>
        <li> <a class="active">RSVP</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container section-container">
  <div class="row content-row">
    <div class="col-sm-8 col-sm-offset-2 content">
      <form class="choose-party">
        <label for="parties-list">To RSVP, please first select your party:</label>
        <select name="party" id="parties-list">
          <option>-</option>
           <% @rsvps.each do |rsvp| %>
             <option value="http://www.ride-or-die.com/rsvp?party=<%= rsvp.encoded_url %>"><%= rsvp.party.name %></option>
           <% end %>
        </select>

        <input class="btn btn-success" type="submit" value="Go" disabled/>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();

        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });

    $('#parties-list').on('input', function(e) {
        $('form input[type="submit"]').prop('disabled', false);
      })


    $(".choose-party").on("submit", function (event) {
      event.preventDefault();
      var url = $("#parties-list option:selected").val();
      location.href = url;
    });
      $("#rsvp").click(function (e) {
          e.preventDefault();
          var href = location.origin + "/rsvp?t=" + currentTime;
          debugger
          location.href = location.origin + "/rsvp?t=" + currentTime;
      })
    if(window.location.search.indexOf("?t=") >=0) {
      $('audio').bind('canplay', function () {
          debugger
          this.currentTime = $.getQueryParameters().t;
      })
    }
  });

  window.addEventListener('load', function(event) {
    initCanvas();
  });
</script>
