/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require main
 *= require_self
 */

$light-blue: #c4cdcc;
$light-light-blue: #e1e6e5;
$background: rgb(242, 244, 244);
$navy: #101d32;
$red: #9c1b1c;

html, body {
  min-height: 100%;
}

body {
  background-color: $background;
}

.container.admin {
  margin-top: 50px;
}
.navbar-default {
  background-color: transparent;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
	background-color: $background;
  font-weight: 300;
	color: $navy;
  &:focus, &:hover {
    background-color: $light-blue;
    color: $navy;
  }
}

#triangles {
  z-index: -3;
}

#logo-circle {
  background-color: #ffffff;
  width: 450px;
  height: 450px;
  margin: 0 auto 15px;
  border-radius: 50%;
  h1, h2 {
    // font-weight: bold;
    color: $navy;
    text-transform: uppercase;
  }    
  padding: 80px;
    h1, h2 {
      margin-top: 15px;
    }



  p {
    color: $navy;
    margin: 25px auto 10px;
  }

  img {
    width: 100px;
  }
}

.headerwrap img.boat {
  margin-top: 50px;
  width: 150px;
}

.section-container {
  min-height: 100%;
  padding-top: 10%;
}

.section-container.large-section {
  padding-top: 5%;
}

.container-row > h1 {
  text-transform: uppercase;
}

.content-row {
  text-align: center;
}

.content-row > .content {
  background-color: $background;
}

.content-row ol, .content-row ul {
  text-align: left;
}

canvas {
  position: fixed;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $light-blue;
;
}

@media (min-width: 768px) {
  .container > .navbar-collapse {
    width: 800px;
    margin: auto;
  }
}

@media (max-width: 800px) {
  #logo-circle {
    height: 300px;
    width: 300px;
    padding: 50px;
    p {
      margin-top: 0;
    }
    h1, h2, p {
      font-weight: regular;
      font-size: 1.2em;
      margin-top: 10px;
    }

  }
}

.rsvp-form {
  margin-top: 15px;
  p {
    margin-bottom: 0;
  }
  .row {
    margin-bottom: 25px;
  }
}

.form-title h3 {
  font-weight: 500;
}

.origami-boat {
  width: 200px;
  margin-bottom: 15px;
}

.center-ol {
  width: 300px;
  margin: auto;
}

a {
  color: $red;
}

.radio-group {
  white-space: no-wrap;
}

input[type="radio"].no {
  margin-left: 15px;
}
