<a href="#">Back</a>
  <h2>Add or Edit Guests for party</h2>

  <form class="form-inline">
    <div class="guests"></div>

    <input type="submit" class="btn btn-primary" value="Save guests"/>
  </form>
