<div class="row">
  <div class="col-md-5">
    <a class="btn btn-success" href="#party/new">Add a party</a>
  </div>
  <div class="col-md-7">
    <h3>Manage RSVPs</h3>
  </div>
</div>
<div class="row">
  <table class="parties-table col-sm-12">
  </table>
</div>
