<h1>RSVP - <%= rsvp.get("party_name") %></h1>
<div class="row form-title">
  <div class="col-sm-6">
    <h3>Invited Guests</h3>
  </div>
  <div class="col-sm-4">
    <h3>Attending?</h3>
  </div>
</div>
<form class="rsvp-form">
  <div class="guests"></div>
</form>
