<h1>RSVP - <%= rsvp.get("party_name") %></h1>
<div class="row form-title">
  <div class="col-sm-6 col-sm-offset-2">
    <label>Invited Guests</label>
  </div>
  <div class="col-sm-4">
    <label>Attending?</label>
  </div>
</div>
<form class="rsvp-form form-horizontal">
  <div class="guests"></div>
  <div class="row">
      <label class="col-sm-2 control-label" for="message-box">Message</label>
    <div class="col-sm-8">
      <textarea name="message" id="message-box" rows="4" class="col-sm-8 form-control"><%=
        rsvp.get("message") %></textarea>
    </div>
  </div>
  <div class="row">
      <label for="address_line_one" class="col-sm-2 control-label">Address Line 1</label>
    <div class="col-sm-8">
      <input type="text" name="address_line_one" class="form-control" id="address_line_one"/>
    </div>
  </div>
  <div class="row">
      <label for="address_line_two" class="col-sm-2 control-label">Address Line 2</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="address_line_two" id="address_line_two"/>
    </div>
  </div>
  <div class="row">
      <label for="city" class="col-sm-2 control-label">City</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="address_line_two" id="city"/>
    </div>
    <label for="postal_code" class="col-sm-2 control-label">Postal Code</label>
    <div class="col-sm-2">
      <input type="text" name="postal_code" id="postal_code"
      class="form-control"/>
    </div>
  </div>
  <div class="row">
      <label for="state" class="col-sm-2 control-label">State/Province</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="state" id="state"/>
    </div>
    <label for="country" class="col-sm-2 control-label">Country Code</label>
    <div class="col-sm-2">
      <input type="text" name="country" id="country"
      class="form-control"/>
    </div>
  </div>
  <div class="row">
   <div class="col-sm-10">
    <input type="submit" class="btn btn-info pull-right" id="save-rsvp" value="Save Rsvp" />
   </div>
  </div>
</form>
